@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&family=Righteous&family=Roboto:wght@400;500;700&display=swap');
/* 
font-family: 'Recursive', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;
 */
* {
    box-sizing: border-box;
}

body {
    background-color: #FB6B6B;
}

.root {
    display:flex;
    align-items: center;
    justify-content: start;
    width: 100vw;
    height: 100vh;
    max-width: 100%;

}

/* COMEÇA TELA DE BOAS VINDAS */
.boas-vindas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 100px;
}

.boas-vindas img {
    width: 136px;
    height: auto;
}

.boas-vindas h1 {
    margin-top: 20px;
    font-family: 'Righteous', cursive;
    font-size: 36px;
    color: white;
    line-height: 44.7px;
    text-align: center;
    
}

.boas-vindas button {
    width: 246px;
    height: 54px;
    margin-top: 30px;
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    text-align: center;
    color: #D70900;
    background-color: white;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    
}
/* TERMINA TELA DE BOAS VINDAS */



/* COMEÇA TELA DE META */
.meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 100px;
}

.meta img {
    width: 136px;
    height: auto;
}

.meta h1 {
    margin-top: 20px;
    font-family: 'Righteous', cursive;
    font-size: 36px;
    color: white;
    line-height: 44.7px;
    text-align: center;
    
}

.meta button {
    width: 246px;
    height: 54px;
    margin-top: 18px;
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    text-align: center;
    color: #D70900;
    background-color: white;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.meta input {
    width: 246px;
    height: 43px;
    margin-top: 36px;
    border-radius: 5px;
    border: none;
    color: black;
    padding-left: 5px;
}

.meta input::placeholder {
    color: #ADADAD;
}

.meta p {
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: black;
    text-shadow: 0 0 5px 5px red;
}

.meta .button-erro {
    color: #000000;
    background-color: rgb(95, 95, 95);
    border: 1px solid #3a3a3a;
    box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.644);
    border-radius: 5px;
}
/* TERMINA TELA DE META */
